<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>admin | 关于我</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
        <meta name="keywords" content="admin,403">
    <meta name="description" content="管理员。">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/aboutmetimeline.css">
    <link rel="stylesheet" href="css/zoomify.min.css">
<!--     <link href="https://cdn.bootcss.com/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/aboutme.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/amazeui.min.css}">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/zoomify.min.js"></script>
    <script src="https://cdn.bootcss.com/underscore.js/1.9.1/underscore-min.js"></script>
    <script src="https://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
</head>
<body>
<div id="app">
    <div class="header">
        <div class="am-topbar" style="margin-bottom: 0">
            <h1 class="am-topbar-brand">
                <a href="/" class="blogTitleName"><img src="http://dwreborn.oss-cn-shanghai.aliyuncs.com/boke/blogArticles/2018-11-28/1543373094.jpeg" class="imgStyle">admin</a>
            </h1>
            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" style="background-color: #CCCCCC;border-color: white;border-radius: 6px" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <ul class="am-nav am-nav-pills am-topbar-nav">
                    <li><a class="top_bar" href="/" style="cursor: pointer;"><span class="fa fa-home"></span>&nbsp;首页</a></li>
                    <li><a class="top_bar" href="/categories" style="cursor: pointer;"><span class="fa fa-th"></span>&nbsp;分类</a></li>
                    <li><a class="top_bar" href="/archives" style="cursor: pointer;"><span class="fa fa-archive"></span>&nbsp;日记</a></li>
                    <li><a class="top_bar" href="/tags" style="cursor: pointer;"><span class="fa fa-tags"></span>&nbsp;标签</a></li>
 <!--                    <li><a class="top_bar" href="/update" style="cursor: pointer;"><span class="fa fa-calendar-plus-o"></span>&nbsp;更新</a></li> -->
                    <li><a class="top_bar" href="/friendlylink" style="cursor: pointer;"><span class="fa fa-street-view"></span>&nbsp;笔记</a></li>
                    <li><a class="top_bar" href="/aboutme" style="cursor: pointer;"><span class="fa fa-user"></span>&nbsp;关于我</a> </li>
                </ul>

                <div class="am-topbar-right" th:if="${#httpServletRequest.remoteUser}">
                    <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                        <button class="personalSpace am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle><span sec:authentication="name"></span> <span class="am-icon-caret-down"></span></button>
                        <ul class="am-dropdown-content">
                            <li><a href="/user" sec:authorize="hasRole('ROLE_USER')">个人主页</a></li>
                            <li><a href="/superadmin" sec:authorize="hasRole('ROLE_SUPERadmin')">网站后台管理</a></li>

                            <li><a class="feedbackClick">反馈</a></li>
                            <hr style="margin: 10px 0 5px 0;">
                            <li><a th:href="@{/logout}">退出登录</a></li>
                        </ul>
                    </div>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/register" class="am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">注册</a>
                </div>
                <div class="am-topbar-right" th:unless="${#httpServletRequest.remoteUser}">
                    <a href="/login" class="loginBtn am-btn am-btn-primary am-topbar-btn am-btn-sm" style="color: white">登录</a>
                </div>
               <!--  <div class="am-topbar-right writing am-hide-md-down">
                    <a  href="/editor" target="_blank" style="text-decoration: none">
                        <img class="am-circle" src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/writing.png">
                        <span class="write-word">写文章</span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
    <div id="main">
        <div class="am-container">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-lg-12">
                    <div class="site-inner">
                        <div class="title">
                            <div class="title-words">
                                <h1 class="title-words-h1">关于</h1>
                            </div>

                            <div class="title-img">
                                <p>
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif" data-src="https://dwreborn.oss-cn-shanghai.aliyuncs.com/boke/blogArticles/2018-11-28/1543375289.jpeg" class="am-img-thumbnail am-radius">
                                </p>
                            </div>
                        </div>
                        <div class="zhy-my-words"  data-am-scrollspy="{animation: 'scale-down'}">
                            <p><i class="fa fa-quote-left fa-lg" style="float: left"></i></p><br>
                            <div class="zhy-info">
                                <p class="zhy-info-words">
                                    Reborn，一名"不顾正业"的程序猿，喜欢弹琴喜欢玩游戏<br>
                                    <br>
                                    正宗90后。在上海工作当一名码农。
                                </p>
                            </div>
                            <p><i class="fa fa-quote-right fa-lg" style="float: right"></i></p><br><hr>
                        </div>
                        <div class="zhy-hobby">
                            <blockquote style="padding: 10px 18px">
                                <ul>
                                    <!-- <li>喜欢旅游：喜欢风景和文艺之地，也争取未来远离"颈椎"的困扰；</li>
                                    <li>喜欢音乐：唯一喜欢的音乐，民谣，她不着一爱字，却处处见情深；</li>
                                    <li>喜欢电影：英雄类大片、煽情类爱情片，哈哈，都喜欢；</li> -->
                                </ul>
                            </blockquote>
                            <span style="font-size: 14px;color: #555;">It's never too late to be what you might have been</span>
                        </div>
                    <!--     <div class="zhy-title-QRCode" style="margin-top: 20px">
                            <p><i class="fa fa-quote-left fa-lg" style="float: left"></i></p><br>
                            <div class="zhy-title-QRCode-word">
                                <strong>欢迎关注我的微信公众号：admin</strong><br>
                                <img src="http://dwreborn.oss-cn-shanghai.aliyuncs.com/boke/blogArticles/2018-11-28/1543373094.jpeg"><br>
                            </div>
                            <p><i class="fa fa-quote-right fa-lg" style="float: right"></i></p>
                        </div> -->
                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />

                        <div style="text-align: right;margin: 30px auto">
                            <i class="fa fa-paper-plane fa-spin"></i>
                            <i class="fa fa-paper-plane-o fa-spin" style="margin-left: 60px"></i><br>
                        </div>
                     <!--    <div class="zhy-original">
                            <div class="zhy-original-title">
                                <h1 class="zhy-original-title-h1">初衷</h1>
                                <p class="zhy-erha">
                                    <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif" data-src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/erha.png" class="am-img-thumbnail">
                                </p><br><br>
                                <p><i class="fa fa-quote-left fa-lg" style="float: left"></i></p><br>
                                <div class="zhy-original-words">
                                    <p>我自己既写博客，也读别人的博客，在这个时代，对于生活中的绝大多数人来说，拓宽朋友圈子的途径几乎只有一个，通过网络，而如何在网络中寻找到气味相投的朋友，如何判断别人和自己是否有共同语言？</p><br>
                                    <div class="zhy-quot">
                                        <blockquote class="zhy-quot-font" style="background-color: #fafafa;">
                                            <strong>标题：写文章很重要吗？</strong>
                                            <p style="margin-top: 7px">有一个广为流传的《数学牛人们的轶事》（荣耀属于ukim）里面讲了希尔伯特的一个故事：一次在Hilbert的讨论班上，一个年轻人报告，其中用了一个很漂亮的定理，Hilbert说：“这真是一个妙不可言（wunderbaschon）的定理呀,是谁发现的？”那个年轻人茫然的站了很久，对Hilbert说：“是你.……”。</p><br>
                                            <p>所以我觉得写文章对我来说挺重要的。</p><br>
                                        </blockquote>
                                        <p>对于我个人而言，写文章也是对于自我的一种检验。我想，就算博客没人看，我也会一直坚持下去。</p><br><br>
                                        <p style="text-align: center"><b><i>学习是梦想！<br>不论什么困难也经不住你傻B式的坚持！</i></b></p>
                                    </div>
                                </div>
                                <p><i class="fa fa-quote-right fa-lg" style="float: right"></i></p><br>
                            </div>
                        </div> -->
                        <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                       <!--  <div class="zhy-opinion">
                            <div class="zhy-opinion-title">
                                <h1 style="font-size: 30px;font-weight: 400">意见反馈</h1>
                            </div>
                            <div class="zhy-erha">
                                <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif" data-src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/erha_opinion.gif" class="am-img-thumbnail">
                            </div>
                            <div class="zhy-opinion-words">
                                <p><strong><u><i>若本博客有做的不好的地方(涉及版权及其他问题)，请留言私信我进行整改。</i></u></strong></p>
                            </div>
                        </div> -->
                        <br><br><hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                        <!-- <div class="zhy-life">
                            <div style="text-align: right;margin: 30px auto">
                                <i class="fa fa-arrows fa-spin"></i>
                                <i class="fa fa-arrows fa-spin" style="margin-left: 60px"></i><br>
                            </div>
                            <div class="zhy-life-title">
                                <span>心情</span>
                            </div>
                            <div class="zhy-you">
                                <img src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/loading.gif" data-src="https://zhy-myblog.oss-cn-shenzhen.aliyuncs.com/static/img/you.png" class="am-img-thumbnail">
                            </div>
                            <p></p>
                            <div class="content">
                                <article>
                                    年份使用淡出动画，内容使用左侧滑入效果
                                    <h3  data-am-scrollspy="{animation: 'scale-up'}">经历</h3>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-red"></span>
                                        <time datetime="2018-07">
                                            <span>2014年9月6日</span>
                                        </time>
                                        <aside>
                                            <p class="things">阳城绿道山地马拉松</p>
                                            <p class="brief"><span class="text-red">第一次参加马拉松</span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-red"></span>
                                        <time datetime="2018-07">
                                            <span>2017年9月10日</span>
                                        </time>
                                        <aside>
                                            <p class="things">太原国际马拉松 </p>
                                            <p class="brief"><span class="text-red">一次难忘的经历，哈哈</span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2018-06">
                                            <span>2018年4月1日</span>
                                        </time>
                                        <aside>
                                            <p class="things">玉泉区越野挑战赛50公里组</p>
                                            <p class="brief"><span class="text-blue">有一种青春叫做留下汗水</span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-purple"></span>
                                        <time datetime="2018-06">
                                            <span>2018年9月8日</span>
                                        </time>
                                        <aside>
                                            <p class="things">太原国际马拉松 </p>
                                            <p class="brief"><span class="text-green">祝福自己</span></p>
                                        </aside>
                                    </section>
                                    <section  data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-red"></span>
                                        <time datetime="2018-05">
                                            <span>2018年6月</span>
                                        </time>
                                        <aside>
                                            <p class="things">成功汽车上党红色国际马拉松</p>
                                            <p class="brief"><span class="text-blue">精疲力尽</span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2018-05">
                                            <span>2018年9月23</span>
                                        </time>
                                        <aside>
                                            <p class="things">大宁国际越野挑战赛50公里组</p>
                                            <p class="brief"><span class="text-red">坚持不懈</span></p>
                                        </aside>
                                    </section>
                                    <section data-am-scrollspy="{animation: 'slide-left'}">
                                        <span class="point-time point-yellow"></span>
                                        <time datetime="2018-05">
                                            <span>2018年10月21</span>
                                        </time>
                                        <aside>
                                            <p class="things">2018年11月28日</p>
                                            <p class="brief"><span class="text-red">持之以恒</span></p>
                                        </aside>
                                    </section>
                                </article>

                            </div>
                        </div> -->

                    </div>
                    <div class="comment">
                        <div class="comment-top">
                            <div class="comment-top-input" th:if="${#httpServletRequest.remoteUser}">
                                <textarea id="comment" placeholder="客官，来说两句吧..."></textarea>
                            </div>
                            <div class="comment-top-input" th:unless="${#httpServletRequest.remoteUser}">
                                <div class="goToLogin">
                                    &nbsp;&nbsp;&nbsp;<a id="toLogin">登录</a>后才可以发表留言呦...
                                </div>
                            </div>
                            <div class="commentBtn">
                                <button id="commentBtn" type="button" class="am-btn am-btn-secondary">发表留言</button>
                            </div>
                        </div>
                        <div class="comment-bottom">
                            <!--<div class="comments">-->
                                <!--<span class="noComment" style="color: black">还没有评论，快来抢沙发吧！</span>-->
                            <!--</div>-->
                            <div class="article-comment">
                                    <div class="article-comment-top">
                                        <span class="article-comment-word">留言</span>
                                         <div class="article-comment-line"></div>
                                    </div>
                                    <div class="new-comment">
                                        <i class="all-comment fa fa-window-minimize fa-rotate-90"></i>全部留言
                                    </div>
                                    <div class="all-comments">
                                        <div class="visitorComment">
                                            <div class="am-g" style="margin: 0">
                                                <div class="visitorCommentImg am-u-sm-2 am-u-lg-1">
                                                    <img src="img/noLogin.jpg">
                                                </div>
                                                <div class="am-u-sm-10 am-u-lg-11">
                                                    <div class="visitorInfo">
                                                        <span class="visitorFloor">#3楼</span>
                                                         <span class="visitorName">
                                                         Reborn
                                                         </span>
                                                        <span class="visitorPublishDate">
                                                        2018年7月25日 19:26
                                                        </span>
                                                    </div>
                                                    <div class="visitorSay">
                                                    的说法是否看见哈舒服的科技示范户看见爱上对方会看见爱上大黄蜂撒旦法师打发斯蒂芬大事发生地方大师傅
                                                    </div>
                                                    <div class="tool-group">
                                                        <a>
                                                            <i class="like fa fa-thumbs-o-up"><span>&nbsp;&nbsp;赞</span></i>
                                                        </a>
                                                        <a>
                                                            <i class="reply fa fa-comment-o">&nbsp;&nbsp;回复</i>
                                                        </a>
                                                    </div>
                                                    <div class="sub-comment">
                                                        <div class="sub-comment-list">
                                                            <div class="visitorReplies">
                                                                <div class="visitorReply">
                                                                     <div class="visitorReplyWords">
                                                                         <a class="answerer">张哈哈</a>： <a class="respondent">@Reborn </a>是非得失水电费第三方第三方鼎折覆餗
                                                                    </div>
                                                                    <div class="visitorReplyTime">
                                                                        <span class="visitorReplyTimeTime">2018年7月25日 19:26</span>
                                                                        <a>
                                                                            <i class="replyReply fa fa-comment-o">&nbsp;&nbsp;回复</i>
                                                                        </a>
                                                                    </div>
                                                                    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                                                                </div>
                                                                <div class="visitorReply">
                                                                    <div class="visitorReplyWords">
                                                                      <a class="answerer">张大仙</a>： <a class="respondent">@Reborn </a>是非得失水电费第三方第三方鼎折覆餗
                                                                    </div>
                                                                    <div class="visitorReplyTime">
                                                                        <span class="visitorReplyTimeTime">2018年7月25日 19:26</span>
                                                                        <a>
                                                                            <i class="replyReply fa fa-comment-o">&nbsp;&nbsp;回复</i>
                                                                        </a>
                                                                    </div>
                                                                    <hr data-am-widget="divider" style="" class="am-divider am-divider-dashed" />
                                                                </div>

                                                            </div>
                                                            <div class="more-comment">
                                                                <a>
                                                                 <i class="moreComment fa fa-edit"> 添加新评论</i>
                                                                </a>
                                                            </div>
                                                        </div>

                                                        <div class="reply-sub-comment-list">
                                                            <div class="replyWord">
                                                                <div class="replyWordBtn">
                                                                    <textarea class="replyWordTextarea" placeholder="写下你的评论..."></textarea>
                                                                    <button type="button" class="sendReplyWordBtn am-btn am-btn-success">发送</button>
                                                                    <button type="button" class="quitReplyWordBtn am-btn">取消</button>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--成功消息盒-->
    <div class="notice successNoticeAlert am-animation-slide-top">
        <span class="successNotice"></span>
    </div>
    <!--失败消息盒-->
    <div class="notice dangerNoticeAlert am-animation-slide-top">
        <span class="dangerNotice"></span>
    </div>
    <div class="feedback am-animation-slide-top">
        <a class="feedbackClose am-close am-close-alt am-close-spin am-icon-times"></a>
        <div class="feedbackTitle">
            反馈
        </div>
        <div class="feedbackWord">
            您对于本博客网站有任何意见或是存在Bug的地方，欢迎进行反馈
        </div>
        <div class="feedbackForm">
            <form class="am-form">
                <fieldset class="am-form-set">
                    <textarea id="feedbackFormContent" placeholder="非常感谢您抽出时间填写问题反馈。必填"></textarea>
                    <input type="text" class="feedbackFormQQ" placeholder="方便留下QQ或是微信联系你吗。选填">
                </fieldset>
                <button type="button" class="feedbackFormBtn am-btn am-btn-primary am-btn-block">提交反馈</button>
            </form>
        </div>

    </div>
</div>

<script src="js/all.js"></script>
<script src="js/leaveMessage.js"></script>
<script>
    $(function () {
        $('.site-inner img').zoomify();
    })
</script>
</body>
</html>