<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>我的世界只有你</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/x-icon" href="/static/favicon.ico">
	<script async src="http://c.cnzz.com/core.php"></script>
	<link rel="stylesheet" href="css/ali.min.css">

	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="js/ali/all.min.js"></script>
	<script src="js/ali/love.min.js"></script>
</head>

<body>
	
</body>
</html>